@tailwind base;
@tailwind components;
@tailwind utilities;

/* STYLES FOR TRADINGVIEW SYMBOL OVERVIEW WIDGET ON THE DASHBOARD */
.tradingview-widget-container > iframe {
    box-shadow: #221c4b 2px 2px;
    border-radius: 16px;
}

/* Styles for custom dashboard button to display graphs */
a {
    color: inherit;
}

.menu-open {
    display: none;
}

.hamburger {
    width: 25px;
    height: 3px;
    background: white;
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    margin-left: -12.5px;
    margin-top: -1.5px;
    transition: transform 200ms;
}

.hamburger-1 {
    transform: translate3d(0,-8px,0);
}

.hamburger-2 {
    transform: translate3d(0,0,0);
}

.hamburger-3 {
    transform: translate3d(0,8px,0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
    transform: translate3d(0,0,0) rotate(45deg);
}

.menu-open:checked + .menu-open-button .hamburger-2 {
    transform: translate3d(0,0,0) scale(0.1,1);
}

.menu-open:checked + .menu-open-button .hamburger-3 {
    transform: translate3d(0,0,0) rotate(-45deg);
}

.menu {
    filter: url('#goo');
    display:flex;
    height: 350px;
    box-sizing: border-box;
    font-size: 20px;
    text-align: left;
}

.menu-item {
    font-size:small;
    /*visibility: hidden;*/
    opacity: 0;
    background: #4338ca;
    border-radius: 100%;
    width: 80px;
    height: 80px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: transform ease-in-out 1000ms, background-color 200ms ease-in-out, color 200ms ease-in-out;
    color: white;
    text-align: center;
    line-height: 80px;
}

.menu-open:checked ~ .menu-item:hover {
    background: #c7d2fe;
    color: #140f5a;
    /*transition: background-color 200ms, color 200ms ease-in-out;*/
}

.menu-open-button {
    border-radius: 100%;
    width: 80px;
    height: 80px;
    margin-left: -40px;
    position: absolute;
    top: 40%;
    left: 50%;
    color: white;
    text-align: center;
    line-height: 80px;
    transition-timing-function: cubic-bezier(0.175, 0.885, 0.320, 1.275);
    transition-duration: 400ms;
    cursor: pointer;
    z-index: 1;
}

.menu-open-button:hover {
    transform: scale(1.2,1.2) translate3d(0,0,0);
}

.menu-open:checked + .menu-open-button {
    transition-timing-function: linear;
    transition-duration: 200ms;
    transform: scale(0.8,0.8) translate3d(0,0,0);
}

.menu-open:checked ~ .menu-item {
    /*visibility: visible;*/
    opacity: 1;
    margin-left: -40px;
    transition-timing-function: cubic-bezier(0.935, 0.000, 0.340, 1.330);
    transition: transform 400ms ease-in, opacity 400ms ease-in, background-color 200ms ease-in, color 200ms ease-in;
    transform: translate3d(80px, -105px, 0);
}

.menu-open:not(:checked) ~ .menu-item {
    /*visibility: hidden;*/
    opacity: 0;
    transition: transform 400ms ease-out, opacity 400ms ease-out, background-color 200ms ease-in-out, color 200ms ease-in-out;
    transform: translate3d(-35px,-40px,0);
}


/*For some reason this child is ignored but I'm leaving it just incase.*/
/*.menu-open:checked ~ .menu-item:nth-child(2) {
    transition-duration: 180ms;
    transform: translate3d(80px, -105px, 0);
}*/

.menu-open:checked ~ .menu-item:nth-child(3) {
    transition-duration: 280ms;
    transform: translate3d(0px, -130px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(4) {
    transition-duration: 380ms;
    transform: translate3d(90px, -35px, 0);
}

.menu-open:checked ~ .menu-item:nth-child(5) {
    transition-duration: 480ms;
    transform: translate3d(0px, 58px, 0);
}

/* Future Children styles should go below .*/
.menu-open:checked ~ .menu-item:nth-child(6) {
    transition-duration: 580ms;
    transform: translate3d(80px, 105px, 0);
}
